-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: cameratlas
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `appointment`
--

DROP TABLE IF EXISTS `appointment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appointment` (
  `idAffectation` int NOT NULL AUTO_INCREMENT,
  `idAutorite` int NOT NULL,
  `codeCirconscription` int NOT NULL,
  `function` enum('GOUVERNEUR','PREFET','SOUS-PREFET') NOT NULL,
  `dateDebut` date NOT NULL,
  `dateFin` date DEFAULT NULL,
  PRIMARY KEY (`idAffectation`),
  UNIQUE KEY `idAutorite` (`idAutorite`,`codeCirconscription`),
  KEY `codeCirconscription` (`codeCirconscription`),
  CONSTRAINT `affectation_ibfk_1` FOREIGN KEY (`idAutorite`) REFERENCES `authority` (`idAutorite`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `affectation_ibfk_2` FOREIGN KEY (`codeCirconscription`) REFERENCES `circonscription` (`codeCirconscription`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `affectation_chk_1` CHECK (((`dateFin` is null) or (`dateFin` > `dateDebut`)))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointment`
--

LOCK TABLES `appointment` WRITE;
/*!40000 ALTER TABLE `appointment` DISABLE KEYS */;
INSERT INTO `appointment` VALUES (2,1,1,'GOUVERNEUR','2024-01-01','2025-01-01');
/*!40000 ALTER TABLE `appointment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subDivision`
--

DROP TABLE IF EXISTS `subDivision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subDivision` (
  `codeCirconscription` int NOT NULL,
  `sousPrefecture` varchar(50) DEFAULT NULL,
  `idDepartement` int NOT NULL,
  PRIMARY KEY (`codeCirconscription`),
  KEY `idDepartement` (`idDepartement`),
  CONSTRAINT `arrondissement_ibfk_1` FOREIGN KEY (`codeCirconscription`) REFERENCES `circonscription` (`codeCirconscription`),
  CONSTRAINT `arrondissement_ibfk_2` FOREIGN KEY (`idDepartement`) REFERENCES `division` (`codeCirconscription`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subDivision`
--

LOCK TABLES `subDivision` WRITE;
/*!40000 ALTER TABLE `subDivision` DISABLE KEYS */;
INSERT INTO `subDivision` VALUES (65,'Etoudi',16),(68,'Tsinga',16);
/*!40000 ALTER TABLE `subDivision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authority`
--

DROP TABLE IF EXISTS `authority`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authority` (
  `idAutorite` int NOT NULL AUTO_INCREMENT,
  `nomAutorite` varchar(50) NOT NULL,
  `prenomAutorite` varchar(50) DEFAULT NULL,
  `dateNaissance` date DEFAULT NULL,
  PRIMARY KEY (`idAutorite`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authority`
--

LOCK TABLES `authority` WRITE;
/*!40000 ALTER TABLE `authority` DISABLE KEYS */;
INSERT INTO `authority` VALUES (1,'Kontchou','Drupin','1983-02-28'),(2,'Nasseri B├®a','Paul','1983-02-28');
/*!40000 ALTER TABLE `authority` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `circonscription`
--

DROP TABLE IF EXISTS `circonscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `circonscription` (
  `codeCirconscription` int NOT NULL AUTO_INCREMENT,
  `nomCirconscription` varchar(50) NOT NULL,
  `superficie` int NOT NULL,
  `population` int NOT NULL,
  `coordonneesGPS` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`codeCirconscription`),
  UNIQUE KEY `nomCirconscription` (`nomCirconscription`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `circonscription`
--

LOCK TABLES `circonscription` WRITE;
/*!40000 ALTER TABLE `circonscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `circonscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delimitation`
--

DROP TABLE IF EXISTS `delimitation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delimitation` (
  `idDelimitation` int NOT NULL,
  `codeCirconscription` int DEFAULT NULL,
  `idFrontiere` int DEFAULT NULL,
  PRIMARY KEY (`idDelimitation`),
  UNIQUE KEY `codeCirconscription` (`codeCirconscription`,`idFrontiere`),
  KEY `idFrontiere` (`idFrontiere`),
  CONSTRAINT `delimitation_ibfk_1` FOREIGN KEY (`codeCirconscription`) REFERENCES `circonscription` (`codeCirconscription`),
  CONSTRAINT `delimitation_ibfk_2` FOREIGN KEY (`idFrontiere`) REFERENCES `frontiere` (`idFrontiere`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delimitation`
--

LOCK TABLES `delimitation` WRITE;
/*!40000 ALTER TABLE `delimitation` DISABLE KEYS */;
/*!40000 ALTER TABLE `delimitation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `division`
--

DROP TABLE IF EXISTS `division`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `division` (
  `codeCirconscription` int NOT NULL,
  `prefecture` varchar(50) DEFAULT NULL,
  `idRegion` int NOT NULL,
  PRIMARY KEY (`codeCirconscription`),
  KEY `idRegion` (`idRegion`),
  CONSTRAINT `departement_ibfk_1` FOREIGN KEY (`codeCirconscription`) REFERENCES `circonscription` (`codeCirconscription`),
  CONSTRAINT `departement_ibfk_2` FOREIGN KEY (`idRegion`) REFERENCES `region` (`codeCirconscription`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `division`
--

LOCK TABLES `division` WRITE;
/*!40000 ALTER TABLE `division` DISABLE KEYS */;
INSERT INTO `division` VALUES (16,'Yaound├®',2),(19,'Manat├®l├®',2),(20,'Ngoumou',2),(21,'Douala',4);
/*!40000 ALTER TABLE `division` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontiere`
--

DROP TABLE IF EXISTS `frontiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frontiere` (
  `idFrontiere` int NOT NULL AUTO_INCREMENT,
  `typeFrontiere` enum('NORD','SUD','EST','OUEST') NOT NULL,
  `limite` varchar(50) NOT NULL,
  PRIMARY KEY (`idFrontiere`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontiere`
--

LOCK TABLES `frontiere` WRITE;
/*!40000 ALTER TABLE `frontiere` DISABLE KEYS */;
/*!40000 ALTER TABLE `frontiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `neighborhood`
--

DROP TABLE IF EXISTS `neighborhood`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `neighborhood` (
  `idQuartier` int NOT NULL AUTO_INCREMENT,
  `nomQuartier` varchar(50) NOT NULL,
  `nomPopulaire` varchar(50) DEFAULT NULL,
  `sousPrefecture` int NOT NULL,
  PRIMARY KEY (`idQuartier`),
  KEY `sousPrefecture` (`sousPrefecture`),
  CONSTRAINT `quartier_ibfk_1` FOREIGN KEY (`sousPrefecture`) REFERENCES `subDivision` (`codeCirconscription`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `neighborhood`
--

LOCK TABLES `neighborhood` WRITE;
/*!40000 ALTER TABLE `neighborhood` DISABLE KEYS */;
INSERT INTO `neighborhood` VALUES (2,'Tsinga','Carri├¿re',65);
/*!40000 ALTER TABLE `neighborhood` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `region`
--

DROP TABLE IF EXISTS `region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `region` (
  `codeCirconscription` int NOT NULL,
  `chefLieu` varchar(50) DEFAULT NULL,
  `codeMineralogique` char(2) DEFAULT NULL,
  PRIMARY KEY (`codeCirconscription`),
  CONSTRAINT `region_ibfk_1` FOREIGN KEY (`codeCirconscription`) REFERENCES `circonscription` (`codeCirconscription`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `region`
--

LOCK TABLES `region` WRITE;
/*!40000 ALTER TABLE `region` DISABLE KEYS */;
INSERT INTO `region` VALUES (1,'Ngaound├®r├®','AD'),(2,'Yaound├®','CE'),(3,'Bertoua','ES'),(4,'Douala','LT'),(5,'Maroua','EN'),(6,'Garoua','ND'),(7,'Bamenda','NO'),(8,'Bafoussam','OU'),(9,'Ebolowa','SU'),(10,'Bu├®a','SO'),(24,'Sierraville','SR'),(28,'Pierraville','PR'),(29,'Pierraville','PR'),(69,'Franceville','WL');
/*!40000 ALTER TABLE `region` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-25 13:22:08
